body{
    background-color: rgb(236, 236, 236);
}

nav a{
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
.button{
    font-size: 20px;
    float: 30px;
    background-color: floralwhite;
    padding: 20px 40px;
    border-radius: 20px;
}
.header-content{
    margin: 2px;
    padding: 20px 30px;
    border-radius: 17px;
    font-size: 40px;
    background-color: rgb(121, 115, 115);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 100%;
}

/* about section */

.about{
    display: flex;
    margin: 100px;
    align-items: center;
    gap: 30px;
    font-size: 20px;
}
.about div{
    flex:1;
}
.about p{
    flex: 1;
    font-size: 30px;
    line-height: 36px;
}

#main-image{
    width: 100%;
}


.kenya{
    border-radius: 30px;
    margin: 2px;
}


/* hobies section */

.hobbies{
    margin: 0px 100px;
    text-align: center;
}
.section-title{
    color: rgb(90, 92, 91);
}

 
.hobby{
    text-align: left;
}
.hobbyimages img{
    height: 250px;
    margin-right: 36px;
}

h3 span{
    font-weight: bold;
    font-size: larger;
    color: rgb(90, 92, 91);
}

/* the footer section*/ 
footer{
    background-color: rgb(90, 92, 91);
    text-align: center;
    padding: 30px;
    color: azure;
    font-size: 20px;
}
@media screen and (max-width: 1100px) {
    nav a{
        color:green;
        display:none;
    }
    #main-section{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) { 
    .about { flex-direction: column; 
    }
}
